#mainHeader {
  color: darkgreen;
}

#mainBox {
  position: absolute;
  border-style: outset;
  border-color: darkgreen;
  border-radius: 10px;

  height: 650px;
  width: 1400px;
}

#innerBox1,
#innerBox2,
#innerBox3 {
  float: left;

  border-style: outset;
  border-color: crimson;
  border-radius: 10px;

  /* height: 600px;
  width: 400px; */

  height: 400px;
  width: 400px;

  margin: 2%;
}

#texBox1 {
  position: absolute;
  margin: 1%;
  bottom: 240px;

  /* height: 500px;
  width: 350px; */

  height: 350px;
  width: 350px;
}

#uploadForm,
#transferButton,
#saveButton {
  position: absolute;
  margin: 3%;
  /* bottom: 10px; */
  bottom: 185px;
}

#innerBox4 {
  /* float: left; */
  position: absolute;
  border-style: outset;
  border-color: crimson;
  border-radius: 10px;

  height: 200px;
  width: 600px;
  bottom: 10px;
  left: 387px;
}

#spellcheckButton {
  position: absolute;
  margin: 3%;
  bottom: 185px;
  left: 690px;
}

#spellchekBox {
  position: absolute;
  border-style: outset;
  border-color: crimson;
  border-radius: 10px;

  height: 180px;
  width: 480px;
  bottom: 10px;
  left: 15px;
}

#applyButton {
  position: absolute;
  margin: 3%;
  bottom: 130px;
  left: 490px;

  width: 80px;
}

#previewButton {
  position: absolute;
  margin: 3%;
  bottom: 90px;
  left: 490px;

  width: 80px;
}

#uploadedImage,
#generatedImage {
  position: absolute;
  /* height: 500px;
  width: 350px; */
  height: 350px;
  width: 350px;

  border: 2px solid black;
  background-position: center;
  background-color: aliceblue;

  margin: 2%;
  top: 10px;
}

div {
  background-repeat: no-repeat;
}

/* ************************ SPELLCHECKER */

.draggable {
  float: left;
  padding: 0.2rem;
  background-color: white;
  border: 1px solid black;
  cursor: move;
  width: max-content;
  font-size: x-small;

  border-radius: 10%;
  text-align: center;
}

.draggable.dragging {
  opacity: 0.5;
  background-color: blueviolet;
}

.draggable:hover::after {
  content: " →?→ " " " attr(data-tooltip);
  text-align: center;
  color: red;
  font-size: x-small;
}

/* ************************ SPELLCHECKER */

#chooseBackground {
  position: absolute;
  margin: 3%;
  bottom: 185px;
  left: 1175px;

  width: 100px;
}
